* {
	margin: 0;
  padding: 0;
}

.portfolioList {
  

}

#root {
  text-align: center;
}

body, html {
  font-family: multi;
}

.portfolio {
	display: inline-block;
  margin: 15px 0;
  column-count: 3;
  column-gap: normal;
}

.filters {
	margin-bottom: 15px;
}

.filter{
	margin-right: 5px;
	padding: 5px 8px;
	background-color: #ffffff;
	outline: none;
	border: 1px solid gray;
}

.active {
	background-color: gray;
	color: #fff;
}

.project {
	width: 100%;
	margin-bottom: 10px;
}

.img {
  width: 100%;
}

.projects {
  column-count: 3;
}