/* .column {
    display: grid;
    grid-template-columns:150px 150px 150px;
    grid-column: auto;
    column-gap: 30px;
} */

.btn {
    display: flex;
    padding: 20px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* height: 1000px;  */
    flex-flow: row wrap;
    /* align-content: flex-start; */
    justify-content: center;
    align-items: flex-start;
}
.btn_1 {
    display: flex;
    /* padding: 20px; */
    margin: 2px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* height: 1000px;  */
    /* flex-flow: row wrap; */
    /* align-content: flex-start; */
    /* justify-content: center;
    align-items: flex-start;*/
} 

.activ {
    color: blue;
} 

.column img {
    box-sizing: border-box;
    width: 200px;
    /* height: 100%; */
}    


.column_text {
    display: grid;
    text-align: center;
    grid-column: 2;
}
     